services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: strapi
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  strapi:
    build: .
    depends_on:
      - db
    environment:
      NODE_ENV: development

      # DB
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: strapi
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi

      # Claves (ponlas en .env en serio)
      JWT_SECRET: change_me_jwt
      ADMIN_JWT_SECRET: change_me_admin_jwt
      APP_KEYS: key1,key2,key3,key4
      API_TOKEN_SALT: change_me_token_salt
      TRANSFER_TOKEN_SALT: change_me_transfer_salt

      # Para que acepte conexiones desde fuera del contenedor
      HOST: 0.0.0.0
      PORT: 1337

    ports:
      - "1337:1337"
    volumes:
      - .:/app
      - /app/node_modules
      - uploads:/app/public/uploads

volumes:
  pgdata:
  uploads:
